---
permalink: /404.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrickMMO QR Redirect</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <img
        src="assets/brickmmo_logo_coloured.png"
        alt="BrickMMO Logo"
        width="200"
      />
      <div v-if="redirecting" class="redirecting-container">
        <div class="spinner"></div>
        <p>
          Redirecting in <span id="fixCountDown">3</span>...
          <br />
          <a :href="qrCodeUrl" target="_blank" id="fixUrl"></a>
        </p>
      </div>

      <div v-if="error">
        <p>Error: {{ errorMessage }}</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="qrRedirect.js"></script>
  </body>
</html>
