* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 20px;
}

/* Main Container */
#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}

/* Loading and Error Messages */
p {
  margin: 10px 0;
}

.redirecting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 5px solid rgba(255, 165, 0, 0.3); /* Light orange */
  border-top: 5px solid #ff5b00; /* Orange color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 20px 0 10px;
  font-size: 24px;
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
  padding: 15px;
  background: #e9ecef;
  border-radius: 5px;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
}

img[alt="QR Code Image"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  #app {
    padding: 15px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }
}
